# Node.js dependencies
/node_modules

# Vite build output
/dist

# Log files
*.log

# Dependency directories for Yarn and npm
.yarn
.yarn-debug.log
.yarn-error.log

# npm package lock file (optional, can keep if you want to lock dependencies)
package-lock.json

# .env files (for environment variables)
.env
.env.local
.env.*.local